@import "tailwindcss";

:root {
  --neo-green: 134 239 172;
  --neo-blue: 147 197 253;
  --neo-pink: 249 168 212;
  --neo-yellow: 253 224 71;
  --neo-red: 252 165 165;
}

@layer base {
  body {
    @apply bg-white text-black antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold uppercase tracking-tight;
  }
  
  button {
    @apply font-bold uppercase;
  }
}